html, body {
    margin:0;
    padding:0;

}

body {
    background: url(../images/old_paper.jpg) #000;
    -webkit-background-size: 2000px 1333px;
    color:#fff;
    font-family:sans-serif;
    margin:0px;
}

body.iPad {
	font-family:Helvetica-Light
}

.container {
    width:1024px;
    height:600px;
    margin:auto;
    position:relative;
}

.bg {
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    background:#000;
    opacity:0.4;
}

.iPad .bg {
    display:none;
}

.embeddederror {
	display:none;
}
.embedded .embeddederror {
	display:block;
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	background:#f00;
	z-index:1000;
	text-align:center;
	padding:50px;
}

.status {
    position:absolute;
    top:0px;
    left:0px;
    height:100px;
    width:100%;
    background:#000;
    border-bottom:2px solid #fff;
}

.status #larm {
    position:absolute;
    bottom:0px;
    padding:10px;
    background: #500;
    width:1004px;
    display:none;
    height:1em;
}

.status #time {
    position:absolute;
    top:0px;
    padding:10px;
    right:0px;
    font-size:40px;
}

.status #time span {
    font-size:20px;
    margin-left:5px;
    padding-top:5px;
    display:inline-block;
    vertical-align:top;
}

.status #temp {
    position:absolute;
    top:0px;
    padding:10px;
    left:0px;
    font-size:40px;
}

.status #date {
    position:absolute;
    bottom:0px;
    padding:10px;
    right:0px;
}

.iPhone .status {
    display:none;
}

.menu {
    position:absolute;
    bottom:0px;
    left:0px;
    height:60px;
    width:100%;
    border-top:2px solid #fff;
    z-index:100;
    background:#000;
}
.menu a {
    display:block;
    float:left;
    padding-top:17px;
    height:42px;
    margin-right:10px;
    width:162px;
    text-align:center;
    background:#000;
    color:#fff;
    text-decoration:none;
    font-size:20px;
}

.menu a.active {
    background:#fff;
    color:#000;
    font-weight:bold;
}

.menu a.last {
    margin-right:0px;
    width:164px;
}
#submenu {
    position:absolute;
    right:0px;
    bottom:62px;
    left:0px;
    overflow:auto;
    height:40px;
    z-index:100;
    background:#fff;
    visibility:hidden;
    z-index:10;
}

#submenu a {
    display:block;
    float:left;
    padding-top:8px;
    height:32px;
    margin-right:10px;
    width:162px;
    text-align:center;
    color:#000;
    text-decoration:none;
    font-size:20px;
}

#submenu a.active {
    font-weight:bold;
}

.main {
    position:absolute;
    top:102px;
    right:0px;
    bottom:62px;
    left:0px;
    overflow:auto;
    padding:10px;

	-webkit-text-size-adjust:none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.main .page {
	display:none;
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
}

.iPad .main .page {
	overflow:hidden;
}

.main .active {
	display:block;
}


.iPhone .main {
    top:0px;
}

.iPhone .menu {
    display:none;
}

h1 {
    margin-top:0px;
}

.toggle {
    background:url(../images/toggle.png) 0px 0px no-repeat;
    height:27px;
    padding-left:95px;
    margin-bottom:10px;
    font-size:20px;
    padding-top:3px;
    width:0px;
    white-space:nowrap;

}
.toggle.true {
    background:url(../images/toggle.png) 0px -30px no-repeat;
}

.radio {
    background:url(../images/action.png) 0px -30px no-repeat;
    height:27px;
    padding-left:95px;
    margin-bottom:10px;
    font-size:20px;
    padding-top:3px;
    width:0px;
    white-space:nowrap;

}
.radio.true {
    background:url(../images/action.png) 0px 0px no-repeat;
}

iframe {
    background: #FFFFFF;
    border: 0 none;
    height: 100%;
    width: 100%;
}

#videoplayers {
	float:left;
	width:180px;
}

#movie_files {
	float:right;
	width:800px;
}

.movie {
	width:200px;
	height:300px;
	background-size: 100%;
	background-repeat:no-repeat;
	float:left;
	display:block;
	overflow:hidden;
	cursor:pointer;
	position:relative;
}

.movie div {
	background:#000;
	padding:5px;
	display:none;
}

.movie:hover {
	opacity:1;
}

.movie .new {
	display:block;
	background:#0c0;
}

.movie:hover .new,
.movie.played .new {
	display:none;
}

.movie:hover div.label,
.movie:hover div.rating,
.movie:hover div.tagline
{
	display:block;
}

.movie .rating {
	position:absolute;
	right:0px;
	font-size:30px;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
}

.movie .tagline {
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
}


#page_settings h2 span {
	font-size:50%;
	font-weight:normal;
}

.page .title {
	position:absolute;
	left:0px;
	right:0px;
	top:100px;
	font-size:100px;
	opacity:0.2;
	text-align:center;
}

.page.room .button {
	background:#111;
	border:2px solid #fff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	text-align:center;
	overflow:hidden;
	opacity:0.8;
}

.page.room .button .handle {
	position:absolute;
	right:0px;
	bottom:0px;
	height:40px;
	width:40px;
	background:#f00;
}

input.saving {
	background:#f00;
}
