.editmode {
	display:none;
}
.editmodeactive .editmode {
	display:block;
}

#editmodehead {
	position:absolute;
	top:20px;
	left:20px;
	padding:6px;
	background:#f00;
	font-size:30px;
}

.editmenu {
    position:absolute;
    bottom:0px;
    left:0px;
    height:60px;
	right:0px;
    z-index:200;
    background:#f00;
}

.editmenu a {
    display:block;
    float:left;
    padding-top:17px;
    height:42px;
    margin-right:10px;
    width:162px;
    text-align:center;
    color:#fff;
    text-decoration:none;
    font-size:20px;
}

.editmenu a.active {
    color:#000;
	background:#fff;
	font-weight:bold;
}

.editmenu a.last {
    margin-right:0px;
    width:164px;
}

#settings_pane {
	position:absolute;
	top:110px;
	left:10px;
	right:10px;
	bottom:10px;
	background:#000;
	border:1px solid #fff;
	z-index:900;
}

#settings_pane .remove {
	position:absolute;
	top:0px;
	right:50px;
	width:150px;
	height:40px;
	border-left:1px solid #fff;
	border-bottom:1px solid #fff;
	font-size:24px;
	text-align:center;
	cursor:pointer;
	padding-top:10px;
	background:#f00;
}

#settings_pane .exit {
	position:absolute;
	top:0px;
	right:0px;
	width:50px;
	height:50px;
	border-left:1px solid #fff;
	border-bottom:1px solid #fff;
	font-size:44px;
	text-align:center;
	cursor:pointer;
}

#settings_pane .parameters {
	position:absolute;
	left:0px;
	top:0px;
	width:300px;
	bottom:0px;
	border-right:1px solid #fff;
	padding:20px;
}

#settings_pane .parameters div {
	clear:both;
	text-transform:capitalize;
}

#settings_pane .parameters div div {
	padding:4px;
	float:right;
}
#settings_pane .parameters div input {
	float:right;
}
