.iPad .menu a, .iPad .menu a.last {
    width:auto;
    padding-left:10px;
    padding-right:10px;
}

.iPad .container {
    width:768px;
    height:1004px;
    margin:none;
}

.iPhone .container, .iPhone {
    height: 460px;
    width: 320px;
    margin:none;
}

.iPad .editmode {
	display:none;
}

.iPad .editmode.portrait {
	display:block;
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	background:#f00;
	z-index:1000;
	text-align:center;
	padding:50px;
}
